body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {

    font-family: 'poppins', sans-serif;
    position : absolute;
	width : 100%;
	height : 100%;
    align-items: center;
}

section {
    justify-content: space-around;
    background-color: white;
    
}


.hero {
    
    
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {

    height: 100px;
    background-color: black;
}

nav {

    display: flex;
    justify-content: space-between;
}

ul {

    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}
li {

   /* width: 200px;  */
    text-decoration: none; 
}
h1 {
    font-size: 60px;
    margin: 0;
}

h2 {

    font-size: 50px;
}

p {
    margin: 0; 
    font-size: 30px;
    font-weight: 300;
}

.hero-area {

    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {

    margin-left: 40px;
    margin-bottom: 40px;
}



.button {

    width: 200px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: coral;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {

    background-color: #ef744b;
}

.button:active {

    background-color: #898989;
    color: #808080;
}

.socials {
  
   padding-bottom: 50px ; 
}

.logo {

    height: 60px;
    margin: 20px;
    
}

.social {

    margin: 20px;
}

.sub-section {

    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.personal-info {
   
    padding: 80px;
}

.information {

    text-align: auto;
    
}

.headshot {

    width: 280px;
   
}


.card {

    width: 220px;
    height: 600px;
    box-shadow: 5px  5px 20px rgb(161, 160, 160);
}



.card-title {


    color: rgb(20, 20, 97);
    font-size: 30px;
    font-weight: bold;
}

.card-text {

 font-size: 20px;

}

.card-img-top {

    width: 280px;
    padding: 10px;
    border-radius: 20px;
}




